<Avatar class="current-user" @title="Satyam's Avatar" @initial="S" @isActive={{true}} />
<section>
  <Username @name="Satyam" @status="Working Remotely" />

  <p>Hey!</p>

  <p>
    I even haven't heard it name before 😅 Lemme see it's docs and let you
    know
  </p>

  <ul>
    <li>
      I've gone through its documentation. it's good. I'm able to connect lot
      of ideas/conecpts with my existing understanding of React and other
      frameworks
    </li>
    <li>
      Let's do this class. would be fun 😃
    </li>
  </ul>

  <p>Let me know when you've nailed down the dates!</p>
</section>