<div class="messages">
  {{!-- <ReceivedMessage /> --}}

  <Message @avatarTitle="Ankush's Avatar" @avatarInitial="A" @username="Ankush" @isUserActive={{true}}>
    <p>
      Hey Satyam, What's up? Are you interested in taking Ember class for Remote
      batch 1 ?😀
    </p>
  </Message>
  <Message @avatarTitle="Satyam's Avatar" @avatarInitial="S" @username="Satyam" @isUserActive={{false}}
    @isCurrentUser={{true}}>
    <p>Hey!</p>

    <p>
      I even haven't heard it name before 😅 Lemme see it's docs and let you
      know
    </p>

    <ul>
      <li>
        I've gone through its documentation. it's good. I'm able to connect lot
        of ideas/conecpts with my existing understanding of React and other
        frameworks
      </li>
      <li>
        Let's do this class. would be fun 😃
      </li>
    </ul>

    <p>Let me know when you've nailed down the dates!</p>
  </Message>

  <NewMessageInput />
  <br />

  {{!-- <LinkTo @route="counter-page">
    <div role="presentation"> Go to counter page</div>
  </LinkTo> --}}
  {{!-- <a href="/counter-page">Go to counter page</a> --}}
</div>